@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
  margin: 0;
  padding: 0;
}

a{
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  opacity: 0.7;
}

.logo{
  font-size: 24px;
}

.logo-img{
  width: 20px;
  background-color: green;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Signika', sans-serif;
  font-size: 17px;
  height: 10vh;
  border-bottom: 1px solid #DE6A5A;
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list li{
  margin-left: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-list li:hover{
  opacity: 0.7;
}

button{
  padding: 7px 40px;
  border: none;
  border-radius: 60px;
  color: #fff;
  background-color: #DE6A5A;
  cursor: pointer;
  font-family: 'Signika', sans-serif;
  font-size: 17px;
  transition: 0.3s;
}

button:hover{
  background-color: #EC9287;
}

